*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    border-right: 2px solid black;
   
    user-select: none;
    
    width:auto;
    height:auto;
  
   
}
h1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 100;
}


.flex-container{
    display:flex;
    border:1px solid black;  
   
    flex-direction: column;
  
    
}
.row-container{
    display:flex;
    flex-direction: row;
   
   

}
.row-container>div{
    background-color: whitesmoke;
    
    width:auto;
    height:auto;
   
    border:1px solid black;
   margin:0.3em;
   box-shadow:0px 5px 10px rgba(0,0,0,0.9);

}
.grow{
    flex-grow: 1;
    

}
.grow > *{
    padding: 1.2em;
    opacity: 0.8;
    font-weight: 800;

}
 #Politics{
    background-color:lightskyblue;
    
}
#Technology{
    background-color:lightblue;
}
#local{
    background-color:lightgreen;
    
}
#opinions{
    background-color:lightsteelblue;
    
}
#sports{
    background-color:lightblue;
    
}

#width{
    width:40%;
    line-height:20px;
    text-align: justify;
}
#image{
    
    font-size: 20px;
    line-height:30px ;
    width: 200%;

   

}
img{
    display:block;
    
    margin-right:auto;
    margin-left:auto;
}

a{
    font-size: 30px;
    font-style: italic;
    cursor: pointer;
    
}
a:hover{
     color: maroon;
}
p{
    line-height:35px ;
    text-align: left;
    font-size:20px ;

    
}

